<HTML>
  <BODY>
    <img  width="500" src="cid:logo" alt="CambiayGana" >

    <h3 style="font-family:Arial; margin-left:40px;">Notificación de bajo consumo Cambia y Gana</h3>
    
    <div id="cuadro" style="margin-left:40px; font-family:Arial">                                                        
	    <hr style="height:2px;border-width:0;color:gray;background-color:gray;width:440px;margin-left:0;text-align:left">  
 
        Concesionario: {{Concesionario}}<br>
        Placas: {{Placa}}<br><br>
        
        <p style="width:450px; text-align:justify">Le informamos que el consumo de gas que ha realizado en el periodo, se encuentra por debajo del promedio requerido
           para cumplir con el consumo mensual pactado. 

           A continuación encontrará información relacionada con el consumo:

        </p>
        <table width="460px">
            <tr style="background-color:#E6E6E6">
                <td>Consumo mensual pactado:</td><td align="right">{{Cuota}}</td>
            </tr>
            <tr>
                <td>Consumo actual:</td><td align="right">{{Consumo}}</td>
            </tr>
            <tr style="background-color:#E6E6E6">
                <td>Consumo por cubrir:</td><td align="right">{{Pendiente}}</td>
            </tr>
            <tr>
                <td>Ahorro Propietario:</td><td align="right">$ {{AhorroPropietario}}</td>
            </tr>
            <tr style="background-color:#E6E6E6">
                <td>Ahorro Concesionario:</td><td align="right">$ {{AhorroConcesionario}}</td>
            </tr>
            
        </table>
        <br><br> 
        <p style=" margin-left:10px; color: Red; font-style:italic; font-weight:bold">**Este correo fue generado de forma automática, no envíe <br>una respuesta al mismo</p>
    </div>
    <div id="pleca" style="width:500;
    		height:30;
    		font-family:Arial; 
    		font-size: 9; 
    		font-style: italic; 
    		background-color: #001C71; 
    		text-align: center;
    		color:#E6E6E6">           
    	<br>Copyright @ 2021, Cambia y Gana    
    </div>  
  </BODY>
</HTML>   